//フォントインポート
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

//CSS変数
:root {
    --header-height: 50px;
    --width: 70%;
    --black: #000;
    --white: #eeeeee;
    --blackWhite: #0f0f0f;
    --whiteBlack: #181a1b;
}

//スクロールバー
::-webkit-scrollbar {
    width: calc(12px + 0.4vw);
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    &:hover {
        background-color: #a8a8a8;
    }
    &:active {
        background-color: #909090;
    }
}

//ダークモードスクロールバー
.dark::-webkit-scrollbar-track {
    background-color: #202324;
}
.dark::-webkit-scrollbar-thumb {
    background-color: #575e62;
    &:active {
        background-color: #484e51 !important;
    }
    &:hover {
        background-color: #656c6f;
    }
}

//全てに適用
* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    font-family: "Roboto", Arial, "Noto Sans JP", sans-serif;
}

//フォント
.serif {
    font-family: "Noto Serif", "Noto Serif JP", sans-serif;
}
.poppins {
    font-family: "Poppins", Arial, "Noto Sans JP", sans-serif;
}

//アイコン
.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
//横スクロール無効化
body {
    overflow-x: hidden;
}

//フッター下に固定
#root {
    min-height: 100vh;
    position: relative;
    padding-bottom: 103.2px;
    box-sizing: border-box;
}

//アニメーション
@keyframes marquee {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

//NoScript
.noscript {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//ヘッダー
header {
    width: 100%;
    display: flex;
    height: var(--header-height);
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    .darkMode {
        position: absolute;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        width: 10%;

        //ダークモード
        a {
            color: black;
            transition: 0s;
            cursor: pointer;
            border-radius: 50%;
            background: #d3d2d8;
            padding: calc(var(--header-height) / 10);
            font-size: calc(var(--header-height) / 2);
            user-select: none;
            &:hover {
                filter: brightness(105%);
            }
            &:active {
                filter: brightness(100%);
            }
        }
        .dark {
            color: white !important;
            background: rgb(60, 60, 60) !important;
            &:hover {
                filter: brightness(110%) !important;
            }
            &:active {
                filter: brightness(100%) !important;
            }
        }
    }
    div {
        width: var(--width);
        margin: 0 auto;
        display: flex;
        .logo {
            display: flex;
            align-items: center;
            position: absolute;
            height: 100%;
            font-size: calc(var(--header-height) / 2.5);
            a {
                height: 100%;
                display: flex;
                align-items: center;
                color: black;
                text-decoration: none;
                img {
                    height: 100%;
                    padding: calc(var(--header-height) / 8);
                }
            }
        }

        nav {
            width: fit-content;
            margin-left: auto;
            display: flex;
            p {
                display: flex;
                height: 100%;
                align-items: center;
                font-size: calc(var(--header-height) / 2.75);
                padding: calc(var(--header-height) / 5);
                text-wrap: nowrap;
                a {
                    text-decoration: none;
                    color: black;
                    transition: 0.3s ease-in-out;
                    cursor: pointer;
                    &:hover {
                        color: #1a73e8;
                    }
                }
            }
        }
    }
}

//トップ画像
.topImage {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    &::before {
        content: "";
        //background-image: url("../images/rei.jpg");
        //background-image: url("../images/115370154_p0.jpg");
        background-image: url("../images/Top_image.png");
        position: absolute;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        top: -3px;
        bottom: -3px;
        left: -3px;
        right: -3px;
        filter: blur(4px) brightness(60%);
        z-index: -1;
    }
    .center {
        width: var(--width);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p.name {
            font-size: 60px;
            color: white;
            margin: 10px 0;
        }
        .link {
            p {
                color: white;
                font-size: 40px;
                a {
                    color: rgb(127 182 255);
                    text-decoration: none;
                }
            }
        }
    }
}

.marquee {
    width: 100%;
    position: absolute;
    text-wrap: nowrap;
    animation: marquee 15s linear infinite;
}
p.Title {
    font-size: 30px;
    width: var(--width);
    margin: 30px auto 17px auto;
    border-left: 0.45em solid black;
    padding-left: 0.5em;
}

//メッセージ
.message {
    width: var(--width);
    height: auto;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    p.left {
        font-size: 18px;
        text-wrap: nowrap;
        animation: marquee 20s linear infinite;
    }
}

//フッター
footer {
    width: 100%;
    background: #f1f1f1;
    padding: 13px;
    position: absolute;
    bottom: 0;
    div {
        width: 100%;
        margin: 0 auto;
        .CopyRight {
            font-size: 17px;
            color: black;
        }
        hr {
            width: 100%;
            border: 1px solid #d9d9d9;
            margin: 13px 0;
        }
        div {
            display: flex;
            p {
                font-size: 17px;
                width: fit-content;
                padding-right: 20px;
                text-wrap: nowrap;
                &:last-child {
                    padding-right: 0;
                }
                a {
                    text-decoration: none;
                    color: black;
                    transition: 0.3s ease-in-out;
                    &:hover {
                        color: #1a73e8;
                    }
                }
            }
        }
    }
}

//オススメプロジェクト
.projects {
    width: var(--width);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .project {
        margin: 0 auto;
        display: block;
        padding-bottom: calc(7px + 2vw);
        a {
            img {
                border-radius: calc(3px + 0.4vw);
                width: 450px;
                box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
                transition: 0.3s ease-in-out;
                &:hover {
                    filter: brightness(80%);
                }
            }
        }
        &:nth-child(2n-1) {
            margin: 0;
            margin-right: auto;
        }
        &:nth-child(2n) {
            margin: 0;
            margin-left: auto;
        }
    }
}

//ダークモード
body.dark {
    background: var(--whiteBlack);
}
#root {
    header div nav p a.dark {
        color: var(--white);
        &:hover {
            color: #1a73e8;
        }
    }
    header.dark {
        background: var(--blackWhite);
    }
    header div .logo a.dark {
        color: var(--white);
    }
    .Title.dark {
        color: var(--white);
        border-color: var(--white);
    }
    .topImage.dark::before {
        filter: blur(4px) brightness(50%);
    }
    .projects .project a img.dark {
        filter: brightness(95%);
        box-shadow: 0px 7px 10px rgba(255, 255, 255, 0.2);
        &:hover {
            filter: brightness(85%);
        }
    }
    footer.dark {
        background: color-mix(
            in srgb,
            var(--whiteBlack) 97.5%,
            rgb(255, 255, 255)
        );
        div {
            .CopyRight {
                color: var(--white);
            }
            hr {
                border-color: color-mix(
                    in srgb,
                    var(--blackWhite) 90%,
                    rgb(255, 255, 255)
                );
            }
            div {
                p {
                    a {
                        color: var(--white);
                        &:hover {
                            color: #1a73e8;
                        }
                    }
                }
            }
        }
    }
}
